{% extends 'base.html.twig' %}

{% block title %}Accueil - Test CISAD{% endblock %}

{% block body %}
<div class="p-5 mb-4 bg-light rounded-3 shadow-sm border text-center">
    <h1 class="display-5 fw-bold">Bienvenue sur le test CISAD</h1>
    
    {% if app.user %}
        <p class="fs-4">Content de vous revoir, <strong>{{ app.user.username }}</strong> !</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-4">
            <a href="{{ path('app_profile') }}" class="btn btn-primary btn-lg px-4">Accéder à mon Profil</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_user_index') }}" class="btn btn-dark btn-lg px-4">Administration</a>
            {% endif %}
        </div>
    {% else %}
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-4">
            <a href="{{ path('app_login') }}" class="btn btn-primary btn-lg px-4">Se connecter</a>
            <a href="{{ path('app_register') }}" class="btn btn-outline-secondary btn-lg px-4">Créer un compte</a>
        </div>
    {% endif %}
</div>
{% endblock %}
